/* Section 1 */
body {
  height: 100%;
  width: 100%;
}
.top {
  width: 100%;
  height: 100vh;
  filter: blur(30px);
  /* opacity: 0.2; */
}
#myName {
  color: rgb(98, 103, 110);
}
#myName:hover {
  color: white;
}
.formargin {
  margin-top: 140px;
}

.wrapper i {
  padding: 10px;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
.wrapper a:nth-child(1) {
  color: #4867aa;
}
.wrapper a:nth-child(2) {
  color: #c6c6c6;
}
.wrapper a:nth-child(3) {
  color: #1da1f2;
}
.wrapper a:nth-child(4) {
  color: #3e2c00;
}

.wrapper a:nth-child(5) {
  color: #0077b5;
}
.wrapper a:nth-child(6) {
  color: #ff0000;
}
.wrapper i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}

/* Section 1 */

/* Section 2 */

.personicon {
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
.personicon:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}

/* Section 2 */

/* Section 3 */

.containerSkills,
.containerJob {
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  z-index: 1;
}

h1.display-2 {
  font-family: Arial, Helvetica, sans-serif;
}

.skills {
  height: 400px;
  background-color: #383838;
}

.text {
  color: white;
}

li {
  font-size: 150%;
}

li:before {
  content: "\2705";
  margin-left: -40px;
  margin-right: 15px;
}
ul {
  list-style-type: none;
}

.text1 {
  font-size: 6vw;
}
.text2 {
  font-size: 2vw;
  color: white;
}

.text3 {
  font-size: 1.45vw;
}

.selflearnt {
  margin-left: 90px;
}
.taught {
  margin-left: 500px;
}

.lol {
  font-size: 3vw;
}

.containerLanguages {
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  z-index: 1;
}

.carousel-inner img {
  width: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.jobCardsJU {
  height: 200px;
  width: 200px;
  background-image: url(images/jacobs4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -9.3px 0.1px;
  border-radius: 50% 50% 50% 50%;
}
.jobCardsUp {
  height: 200px;
  width: 200px;
  background-image: url(images/up.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50% 50% 50% 50%;
}
.jobCardsVp {
  height: 200px;
  width: 200px;
  background-image: url(images/VP3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50% 50% 50% 50%;
}

.jobCardsJU,
.jobCardsUp,
.jobCardsVp {
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
.jobCardsJU:hover,
.jobCardsUp:hover,
.jobCardsVp:hover {
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.06);
}
